#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 44px; /* Largeur du bouton */
    height: 44px; /* Hauteur du bouton */
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #ffdd00;
    color: black;
    cursor: pointer;
    border-radius: 50%; /* Rend le bouton circulaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#backToTop:hover {
    background-color: #ff9800;
    transform: scale(1.2);
}
