form button {
    background-color: #3671b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    max-width: 200px;
    max-height: 100px;
}

form button:hover {
    background-color: #0f287d;
}
